@inherits LayoutComponentBase

<div class="page">

    <main>
        <div class="px-4">
            <h1>A flexbox Demo App using Blazor</h1>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
